/*========================================
            PRIVACY PAGE STYLE
=========================================*/

.sidebar{
  padding: 10px;
  /* border: 1px solid var(--heading) */

}
.privacy-part{
  margin-top: 100px;
}

.scrollspy-content p{
  margin-left: 50px;
  text-align: justify;
}
.scrollspy-content li{
  margin-left: 50px;
  text-align: justify;
}

.scrollspy {
  position: relative;
}

.scrollspy-content {
  margin-bottom: 20px;
}

.scrollspy-content:last-child {
  margin-bottom: 0px;
}

.scrollspy-content h3 {
  margin-bottom: 20px;
  padding-left: 50px;
  position: relative;
}

.scrollspy-content h3::before {
  position: absolute;
  /* content: "\efcc"; */
  top: 50%;
  left: 0px;
  width: 35px;
  height: 35px;
  font-size: 16px;
  font-family: icofont;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 35px;
  border-radius: 50%;
  text-align: center;
  color: var(--chalk);
  background: var(--primary);
}

.scrollspy-content-terms h3::before {
  position: absolute;
  /* content: "\efcc"; */
  top: 50%;
  left: 0px;
  width: 35px;
  height: 35px;
  font-size: 16px;
  /* font-family: icofont; */
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 35px;
  border-radius: 50%;
  text-align: center;
  /* color: var(--chalk); */
  /* background: var(--primary); */
}
