/* Add this to your existing "register.css" file or create a new one */

/* Set body and html to have full width */
body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #4C644B;
    margin: 0;
    overflow-x: hidden;
    font-weight: 300;
    color: #4C644B!important;
    font-family: "Inter", sans-serif !important;
    line-height: 26px;
    overflow-x: hidden;
}

.contact_area{
    background-color: #4C644B;
    /* padding-top: 30px; */
}
/* Container for the two columns */
.auth-container {
     background: #4C644B;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    height: 100%; /* Make the container full height of the viewport */
}

/* Style for each column */
.card {
    background-color: #CFE2CE !important;
    width: 100%; /* Make the columns full width */
    margin: auto; /* Center the card within the container */
    border-radius: 25px !important;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
}

/* Change the font color of h4 */
.card h4 {
     color: rgb(147, 228, 147);
}
.card-body{
    padding: 1.5rem 1.5rem 1rem 1.5rem !important;
}

.regtitle{
    margin-bottom: 5px; 
    font-weight: 500; 
    font-size: 1.5rem;
    text-transform: uppercase;
    
}

/* Add media query for responsiveness */
@media (min-width: 768px) {
    .auth-container {
        justify-content: space-around; /* Distribute the columns with space around on larger screens */
    }

    .card {
        width: 45%; /* Adjust the width of the columns for larger screens */
    }
}
